<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RxRealmPlayground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0ADB58C41E72D81C006B8CC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ADB58D81E72D81C006B8CC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ADB58E31E72D81C006B8CC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
